<div class="logo-lg align-text-center padding-vertical-34 hidden-xs">
  <img  src="/admin/assets/images/logo.png" />
</div>
<div class="logo-md padding-vertical-21 align-text-center hidden-sm hidden-md hidden-lg">
  <img alt="The Great Exchange" src="/admin/assets/images/logo-sm.png" />
</div>
