<div class="padding-vertical-8"></div>
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <table class="table table-striped">
        <thead>
          <th>Name</th>
          <th>Email address</th>
          <th>Phone number</th>
        </thead>
        <tbody>
          {{#each people as |person|}}
          <tr>
            <td>{{person.name}}</td>
            <td>{{person.email}}</td>
            <td>{{person.phoneNumber}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
