<div class="padding-vertical-8"></div>
<div class="right padding-vertical-8">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-primary" {{action "new"}}><span class="glyphicon glyphicon-plus"></span> New person</button>
    <button type="button" class="btn btn-default" disabled=disabled><span class="glyphicon glyphicon-upload"></span> Upload CSV</button>
    <button type="button" class="btn btn-default" disabled=disabled><span class="glyphicon glyphicon-download"></span> Download</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <table class="table table-striped">
        <thead>
          <th>Name</th>
          <th>Email address</th>
          <th>Phone number</th>
        </thead>
        <tbody>
          {{#each people as |person|}}
          <tr>
            <td>{{person.name}}</td>
            <td>{{person.email}}</td>
            <td>{{person.phoneNumber}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
