<div class="jumbotron">
  <h1>Manage Events</h1>
  <p>This is where you can add TGE events. When you add contacts, they can receive updates about your events.</p>
  <button class="btn btn-lg btn-primary center-block">Get started</button>
</div>
