
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </button>
      {{#link-to "index" class="navbar-brand"}}TGE Admin{{/link-to}}
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      {{#if session.isAuthenticated}}
        <ul class="nav navbar-nav navbar-left">
          {{#link-to "contacts" tagName="li"}}{{#link-to "contacts"}}Contacts{{/link-to}}{{/link-to}}
          {{#link-to "events" tagName="li"}}{{#link-to "events"}}Events{{/link-to}}{{/link-to}}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li> <a {{action 'invalidateSession'}}>Sign out</a></li>
        </ul>
      {{else}}
        <ul class="nav navbar-nav navbar-right">
          <li>{{#link-to "login"}}Sign in{{/link-to}}</li>
        </ul>
      {{/if}}
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 main">
      {{outlet}}
    </div>
  </div>
</div>
