<div class="jumbotron">
  <h1>Manage Contacts</h1>
  <p>This is where you can add contacts who can receive notifications about events.</p>
  <a class="btn btn-lg btn-primary" href="#" role="button">Get started</a>
</div>
