<div class="jumbotron">
  <h1>TGE Admin</h1>
  <p>Welcome to the tge admin site. From here you can manage your users, contacts, and events.</p>
  <a class="btn btn-lg btn-primary" href="#" role="button">Get started</a>
</div>
