<div class="page-header">
  <span class="h2 text-info">Invite a new user</span>
</div>
<form>
  <div class="form-group form-group-lg">
    {{input value=model.name type="text" class="form-control" placeholder="Name"}}
  </div>
  <div class="form-group input-group input-group-lg">
    <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
    {{input value=model.email class="form-control" type="email" placeholder="Email address"}}
  </div>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary btn-lg" {{action "save"}}>Invite User</button>
    <button class="btn btn-default btn-lg" {{action "cancel"}}>Cancel</button>
  </div>
</form>
