<div class="padding-vertical-8"></div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group right" role="group">
      <button type="button" class="btn btn-primary" {{action "new"}}><span class="glyphicon glyphicon-plus"></span> New organization</button>
      <button type="button" class="btn btn-default" disabled=disabled><span class="glyphicon glyphicon-upload"></span> Upload CSV</button>
      <button type="button" class="btn btn-default" disabled=disabled><span class="glyphicon glyphicon-download"></span> Download</button>
    </div>
  </div>
</div>
<div class="padding-vertical-8"></div>
<div class="row">
  <div class="col-xs-12 col-sm-12">
    <div class="panel panel-default">
      <table class="table table-striped table-hover">
        <thead>
          <th>Name</th>
        </thead>
        <tbody>
          {{#each model as |organization|}}
          <tr {{action 'edit' organization}}>
            <td>{{organization.name}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>

